@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(../fonts/Roboto_Mono/hMqPNLsu_dywMa4C_DEpYywlidHJgAgmTjOEEzwu1L8.ttf) format('truetype');
}
