<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget
  xmlns     = "http://www.w3.org/ns/widgets"
  xmlns:cdv = "http://cordova.apache.org/ns/1.0"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id        = "com.filipesperandio.simpletasks{{ENV_LABEL}}"
  version   = "{{APP_VERSION}}"
  versionCode = "{{BUILD_NUMBER}}"
  android-versionCode = "{{BUILD_NUMBER}}"
  ios-CFBundleVersion = "{{BUILD_NUMBER}}">

  <name>{{APP_NAME}}</name>
  <description>Manage your daily TO DO lists</description>
  <author email="filipesperandio@gmail.com" href="http://www.filipesperandio.com/">Filipe Esperandio</author>
  <content src="index.html"/>

  <access origin="*" launch-external="yes"/>
  <allow-navigation href="*"/>

  <preference name="webviewbounce" value="true"/>
  <preference name="UIWebViewBounce" value="true"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="StatusBarOverlaysWebView" value="true"/>
  <preference name="StatusBarStyle" value="default"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="deployment-target" value="8.0"/>
  <preference name="android-minSdkVersion" value="19" />

  <preference name="phonegap-version" value="cli-5.1.1"/>
  <preference name="KeyboardDisplayRequiresUserAction" value="false" />

  <plugin name="cordova-plugin-inappbrowser" spec="1.0.1" source="npm"/>
  <plugin name="com.ionic.keyboard" source="npm"/>
  <plugin name="cordova-plugin-console" source="npm"/>
  <plugin name="cordova-plugin-statusbar" source="npm"/>
  <plugin name="cordova-plugin-device" source="npm"/>
  <plugin name="cordova-plugin-splashscreen" source="npm"/>
  <plugin name="cordova-plugin-whitelist" version="1.0.0" source="npm"/>
  <plugin name="cordova-plugin-screen-orientation" source="npm"/>

  <platform name="ios">
    <icon src="resources/ios/icon-{{ENV_LABEL}}/icon.png"/>
    <splash src="resources/ios/splash-{{ENV_LABEL}}/Default-Portrait.png"/>
  </platform>

  <platform name="android">
    <icon src="resources/android/icon-{{ENV_LABEL}}/drawable.png"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-land.png" density="land-ldpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-land.png" density="land-mdpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-land.png" density="land-hdpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-land.png" density="land-xhdpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-land.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-land.png" density="land-xxxhdpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-port.png" density="port-ldpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-port.png" density="port-mdpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-port.png" density="port-hdpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-port.png" density="port-xhdpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-port.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash-{{ENV_LABEL}}/drawable-port.png" density="port-xxxhdpi"/>
  </platform>

</widget>
