.slide-in-right {
  transform: translateX(100%);
}

.slide-in-right.ng-enter,
.slide-in-right > .ng-enter {
  transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}

.slide-in-right.ng-enter-active,
.slide-in-right > .ng-enter-active {
  transform: translateX(0);
}

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  transition: all ease-in-out 250ms;
}
