body { background-color: $base-background-color; }

[ng-cloak] {
  display: block !important;
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

/* ----------------- SPLASH SCREEN ----------------- */
.splash-screen {
  background-color: $light;
  display: flex;
  flex-direction: column;
  box-shadow: $card-box-shadow;

  justify-content: center;
  align-items: center;

  section {
    text-align: center;
    padding: 0 (3 * $content-padding);
    flex-grow: 1;

    img {
      margin: (3 * $content-padding) auto;
      width: 150px;
    }

    p { font-size: 1.2em; }
  }
}

.splash-screen.spaced { justify-content: space-between; }

@media (min-width: $breakpoint)  {
  .splash-screen.limited-height { max-height: 60%; }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bar .button, .button {
  font-weight: bold;
}

.header-shadow {
  box-shadow: 0 1px 4px 0 rgba(0,0,0, 0.18);
}
/* Empty. Add your own CSS if you like */
.blue-background {
  background-color: white;
  opacity: 1;
}

.fade-in-white {
  -webkit-animation: fade 5s;
  animation: fade 5s;
  opacity: 1;
}

.global-add-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.material-button {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 52px;
  min-width: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.top-layer {
  z-index: 100;
}

input[type=text]{
  bottom: 8px;
  padding-left: 8px;
  border-radius: 4px;
}

.full-width {
  width: 100%;
}

button i.material-icons {
  line-height: inherit;
}

button.button.button-clear.checked,
p.checked,
li.checked {
  text-decoration: line-through;
  color: $muted;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: $muted;
    border-color: $muted;
}

.item {
  color: $primaryText-grey;
}
