$breakpoint: 704px;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-title-size: 19px;

$primaryText-grey: #272727;
$secondaryText-grey: #A1ABB1;
$pale-grey: #e0e7eb;
$base-background-color: #F3F5F6;
$hint-banner: #79919F;

$row-active: $base-background-color;
$row-hover: #F7F9FB;

$positive-disabled: #8AC9E1;

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

$muted: grey;

$base-color: $primaryText-grey;
$base-light-color: $secondaryText-grey;
$main-blue: $positive;

$input-color-placeholder: $base-light-color;

$button-dark-border:        darken($dark, 8%);
$button-dark-active-bg:     darken($dark, 8%);
$button-dark-active-border: darken($dark, 8%);

$bar-height: 44px !default;
$bar-height-double-line: 76px !default;

$line-height-base: 1.5;
$button-border-radius: 5px;
$button-bar-button-padding: 12px;
$dashboard-badge-border-radius: 4px;
$checkbox-height: 20px;
$checkbox-width: 20px;

$item-height: 48px;
$item-light-border: #e9eef0;

$modal-backdrop-bg-active: darken($dark, 20%);

$section-header: $base-background-color;
$item-button-font-size: 12px;

$icon-size: 24px;

$item-padding: 16px;
